<html>
    <h2>Cars in the Garage:</h2>
    <table class="table">
        <tr>
            <th scope="col">License Plate Number</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Park Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
        <tr *ngFor="let car of cars; let i = index">
            <td>
                <span *ngIf="!allowEdit[i]">{{ car.license }}</span>
                <span *ngIf="allowEdit[i]"><input type="text" class="form-control" name="license" aria-label="Small" placeholder="Enter the car's license plate number" [(ngModel)]="car.license" required></span>
            </td>
            <td>
                <span *ngIf="!allowEdit[i]">{{ car.make }}</span>
                <span *ngIf="allowEdit[i]"><input type="text" class="form-control" name="make" aria-label="Small" placeholder="Enter the car's make" [(ngModel)]="car.make" required></span>
            </td>
            <td>
                <span *ngIf="!allowEdit[i]">{{ car.model }}</span>
                <span *ngIf="allowEdit[i]"><input type="text" class="form-control" name="model" aria-label="Small" placeholder="Enter the car's model" [(ngModel)]="car.model" required></span>
            </td>
            <td>{{ car.parkDate | date:'L/dd/yyyy, h:mm a'}}</td>
            <td>
                <button class="btn btn-primary" *ngIf="!allowEdit[i]" (click)="editThisCar(i)">Edit</button>
                <button class="btn btn-primary" *ngIf="allowEdit[i]" (click)="saveCar(i, car)">Save</button>
            </td>
            <td>
                <button class="btn btn-secondary" *ngIf="!allowEdit[i]" (click)="removeThisCar(car)">Remove</button>
            </td>
        </tr>

    </table>
<html>